<!DOCTYPE html>
{% load i18n %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Blog | Can Benli</title>
    <meta content="Can Benli, Digitization, data analysis, web programming, frontend, Html, Css, Javascript, Seo, Industrial Engineering, Dijitalleştirme, veri analizi, web programlama, önyüz, Html, Css, Javascript, Seo, Endüstri Mühendisliği" name="keywords">
    <meta content="Ambitious and motivated young industrial engineering student with a qualified knowledge and passion to learn more about engineering." name="description">

    <link rel="icon" href="/media/img/logo.png" type="image/x-icon" />
    

    <!-- Bootstrap core CSS -->
    <link href="/static/css_css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/static/css_css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css_css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/static/css_css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/static/css_css/colors.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/20583e3abd.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLNELQC0VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XLNELQC0VC');
</script>
</head>
<body>


    <div id="wrapper">
        
        <header class="header_area">
            <div class="main_header_area animated">
              <div class="container">
                <nav id="navigation1" class="navigation">
                  <!-- Logo Area Start -->
                  <div class="nav-header">
                    <a class="nav-brand" href="/{{request.LANGUAGE_CODE}}">CAN BENLI</a>
                    <div class="nav-toggle"></div>
                  </div>
                  <!-- Search panel Start -->
                  <div class="nav-search">
                    <div class="nav-search-button">
                      <i class="nav-search-icon"></i>
                    </div>
                    <form>
                      <div class="nav-search-inner">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder=" {% trans "Search"%}">
                        <button type="submit" style="visibility: hidden"></button> 

                      </div>
                    </form>
                  </div>
                  <!-- Main Menus Wrapper -->
                  <div class="nav-menus-wrapper">
                    <ul class="nav-menu align-to-right">
                      <li><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/blog">{% trans "Blog"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/contact">{% trans "Contact"%}</a></li>
                      <!--
                      <li><a href="">Level 1</a>
                        <ul class="nav-dropdown">
                          <li><a href="">Header</a>
                            <ul class="nav-dropdown">
                              <li><a href="" target="_blank">Simple</a></li>
                              <li><a href="" target="_blank">Two Menus</a></li>
                            </ul>
                      </li>-->
    
                          <li><a href="">{% trans "Language"%}</a>
                            <ul class="nav-dropdown">
                                <li><a href="{% url 'set-language' 'en' %}" ><img src="/media/img/en.png" alt="en" width="25px"> English</a></li>
                                <li><a href="{% url 'set-language' 'tr' %}" ><img src="/media/img/tr.png" alt="tr" width="25px"> Türkçe</a></li>     
                              </ul>
                      </li>
                      
                          </div>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </header>

        <div class="page-title ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12col-sm-12 col-xs-12">
                        <h2>BLOG</h2>
                    </div><!-- end col -->
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}/blog">Blog</a></li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
            
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="filtering">
                    {% if temizle %}
                          <a href="/{{request.LANGUAGE_CODE}}/blog"><p >{% trans "Show all posts"%}</p></a>
                          {% endif %}
                          {%if request.GET.q%}
                              <p><strong> {{filter_count}} </strong>{% trans "post related to "%} <strong>{{request.GET.q}}</strong>{% trans " were found"%}  </p>
                          {% endif %}
                          {%if request.GET.search%}
                              <p><strong> {{filter_count}} </strong>{% trans "post related to "%}<strong>{{request.GET.search}}</strong> {% trans " were found"%}</p>
                          {% endif %}
                  </div>
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            

                            <hr class="invis">

                            <div class="blog-grid-system">
                                <div class="row">

                                    

                                {% for post in posts %}
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media media250h">
                                                <a href="{% url 'blog_single' post.slug %}">
                                                    <img src="{{post.image.url}}" alt="data" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <h4><a href="{% url 'blog_single' post.slug %}" >{{post.title}}</a></h4>
                                                <p>{{post.summary}}</p>
                                                <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{post.category.name}}">{{post.category.name}}</a></small>
                                                <small style="font-weight: 300px;">{{post.publishing_date.day}}.{{post.publishing_date.month}}.{{post.publishing_date.year}}</small>
                                                <small style="font-weight: 300px;"><i class="fa-regular fa-eye"></i> {{post.read}}</small>
                                                <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                {% endfor %}
                                    

                                  

                                </div><!-- end row -->
                            </div><!-- end blog-grid-system -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis3">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        
                                        
                                        <li class="page-item"> 
                                            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">&#171;</a> 
                                        </li>
                                
                                        
                                        <li class="page-item">
                                            {% if posts.has_previous %}
                                            <a class="page-link" href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{% trans "Prev"%}</a>
                                            {% endif %}
                                            {% if not posts.has_previous %}
                                            <a class="page-link" href="#">{% trans "Prev"%}</a>
                                            {% endif %}
                                        </li>
                                        {% if first_true %}
                                  
                                            <li class="page-item"> <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">1</a> </li>
                                
                                        {% endif %}
                                        {% if three_dot%}
                                  
                                            <li class="page-item"> <a class="page-link" id="three_dot_a">...</a> </li>
                                
                                        {% endif %}
                                        {% if beforetwo%}
                                  
                                            <li class="page-item"> <a class="page-link" href="?page={{ beforetwo }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{{ beforetwo }}</a> </li>
                                
                                        {% endif %}
                                        {% if posts.has_previous %}
                                      
                                            <li class="page-item"> <a class="page-link" href="?page={{ posts.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{{ posts.previous_page_number }}</a> </li>
                                
                                        {% endif %}
                                        
                            
                                        <li class="page-item"> <a class="page-link">{{ posts.number }}</a> </li>
                                        {% if posts.has_next %}
                                      
                                            <li class="page-item"> <a class="page-link" href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{{ posts.next_page_number }}</a> </li>
                                    
                                        {% endif %}
                                        {% if aftertwo%}
                                      
                                            <li class="page-item"> <a class="page-link" href="?page={{ aftertwo }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{{ aftertwo }}</a> </li>
                                    
                                        {% endif %}
                                        {% if last_three_dot%}
                                  
                                            <li class="page-item"> <a class="page-link">...</a> </li>
                                
                                        {% endif %}
                                        {% if last_true%}
                                  
                                            <li  class="page-item"> <a class="page-link" href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{{posts.paginator.num_pages}}</a> </li>
                                
                                        {% endif %}
                                        <li class="page-item">
                                            {% if posts.has_next %}
                                                <a class="page-link" href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">{% trans "Next"%}</a>
                                            {% endif %}
                                            {% if not posts.has_next %}
                                                <a class="page-link" href="#">{% trans "Next"%}</a>
                                            {% endif %}
                                        </li>
                                        <li class="page-item"> 
                                            <a class="page-link" href="?page={{posts.paginator.num_pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.q2 %}&q2={{ request.GET.q2 }}{% endif %}">&#187;</a> 
                                        </li>


                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            

                            <div class="widget">
                                <h2 class="widget-title">{% trans "Most Viewed"%}</h2>
                                <hr class="line">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for pop in popular%}
                                        <a href="{% url 'blog_single' pop.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                
                                                <h5 class="mb-1">{{pop.title}}</h5>
                                                <small>{{pop.publishing_date.day}}.{{pop.publishing_date.month}}.{{pop.publishing_date.year}} ●</small> 
                                                <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{pop.read}}</i></small>
                                            
                                            </div>
                                        </a>
                                        {% endfor %}
                                        
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                          

                            <div class="widget">
                                <h2 class="widget-title">{% trans "Tags"%}</h2>
                                <hr class="line">
                                <div class="link-widget">
                                    <ul>
                                        {% for cat in tags %}
                                        <li><a href="/{{request.LANGUAGE_CODE}}/blog?q={{cat.name}}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->



                            <div class="widget">
                                <h2 class="widget-title">{% trans "Recent"%}</h2>      
                                <hr class="line">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for rec in recent%}
                                        <a href="{% url 'blog_single' rec.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                          <!--     <img src="{{rec.image.url}}" alt="data" class="img-fluid float-left">--> 
                                                <h5 class="mb-1">{{rec.title}}</h5>
                                                <small>{{rec.publishing_date.day}}.{{rec.publishing_date.month}}.{{rec.publishing_date.year}} ●</small> 
                                                <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{rec.read}}</i></small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->


                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <br><br><br>
        <footer class="footer">
            <div class="container">
               


                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="footer-text text-center">
                               
                       
                            <div class="social">
                                <a href="https://www.linkedin.com/in/can-benli/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"  style="color: black;"></i></a>
                                            <a href="https://github.com/canbenli" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"  style="color: black;"></i></a>
                                            <a href="https://medium.com/@mcbenli80" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium"  style="color: black;"></i></a>
                                        </div>

                            <hr class="invis">

                            
                        </div><!-- end footer-text -->
                        <div class="copyright">Can Benli &copy; 2023</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/static/js_js/jquery.min.js"></script>
    <script src="/static/js_js/tether.min.js"></script>
    <script src="/static/js_js/bootstrap.min.js"></script>
    <script src="/static/js_js/custom.js"></script>

</body>
</html>