<!DOCTYPE html>
{% load i18n %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>{{post11.title}} | Can Benli </title>
    <meta content="Can Benli, Digitization, data analysis, web programming, frontend, Html, Css, Javascript, Seo, Industrial Engineering, Dijitalleştirme, veri analizi, web programlama, önyüz, Html, Css, Javascript, Seo, Endüstri Mühendisliği" name="keywords">
    <meta content="Ambitious and motivated young industrial engineering student with a qualified knowledge and passion to learn more about engineering." name="description">

    <link rel="icon" href="/media/img/logo.png" type="image/x-icon" />
    

    <!-- Bootstrap core CSS -->
    <link href="/static/css_css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/static/css_css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css_css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/static/css_css/responsive.css" rel="stylesheet">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Colors for this template -->
    <link href="/static/css_css/colors.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/20583e3abd.js" crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-XLNELQC0VC');
      </script>
</head>
<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/media/img/loader.gif" alt="">
        <div class="preloader"><div class="just" style="width: 152px;margin:auto;padding-top:170px; font-size:18px; font-weight:600">just keep pedaling</div></div>
    </div><!-- end loader -->
    <!-- END LOADER -->


    <div id="wrapper">
        
        <header class="header_area" >
            <div class="main_header_area animated">
              <div class="container">
                <nav id="navigation1" class="navigation">
                  <!-- Logo Area Start -->
                  <div class="nav-header">
                    <a class="nav-brand" href="/{{request.LANGUAGE_CODE}}">CAN BENLI</a>
                    <div class="nav-toggle"></div>
                  </div>
                  <!-- Search panel Start -->
                  <div class="nav-search">
                    <div class="nav-search-button">
                      <i class="nav-search-icon"></i>
                    </div>
                    <form>
                      <div class="nav-search-inner">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder=" {% trans "Search"%}">
                        <button type="submit" style="visibility: hidden"></button> 

                      </div>
                    </form>
                  </div>
                  <!-- Main Menus Wrapper -->
                  <div class="nav-menus-wrapper">
                    <ul class="nav-menu align-to-right">
                      <li><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/blog">{% trans "Blog"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/contact">{% trans "Contact"%}</a></li>
                      <!--
                      <li><a href="">Level 1</a>
                        <ul class="nav-dropdown">
                          <li><a href="">Header</a>
                            <ul class="nav-dropdown">
                              <li><a href="" target="_blank">Simple</a></li>
                              <li><a href="" target="_blank">Two Menus</a></li>
                            </ul>
                      </li>-->
    
                          <li><a href="">{% trans "Language"%}</a>
                            <ul class="nav-dropdown">
                                <li><a href="{% url 'set-language' 'en' %}" ><img src="/media/img/en.png" alt="en" width="25px"> English</a></li>
                                <li><a href="{% url 'set-language' 'tr' %}" ><img src="/media/img/tr.png" alt="tr" width="25px"> Türkçe</a></li>     
                              </ul>
                      </li>
                      
                          </div>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </header>
          
          <div class="page-title ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12col-sm-12 col-xs-12">
                        <h2>{{post11.title}} <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{post11.category.name}}">{{post11.category.name}}</a></small></h2>
                    </div><!-- end col -->
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <ol class="breadcrumb hidden-xs-down">
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}/blog">Blog</a></li>
                            <li class="breadcrumb-item active">{{post11.title}}</li>
                        </ol>   
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">
                                <div class="single-post-media  single-post-medias">
                                    <img src="{{post11.image.url}}" alt="" class="img-fluid" style="object-position:center">
                                  </div>
                                <!-- end media --> 
                                   <br>

                                    <span class="color-aqua" style="color: black;"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{post11.category.name}}">{{post11.category.name}}</a></span>

                                <h3>{{post11.title}}</h3>
                               
                                <div class="blog-meta big-meta">
                                    <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    <small style="font-weight: 400;">{{post11.publishing_date.day}}.{{post11.publishing_date.month}}.{{post11.publishing_date.year}}</small>
                                    <small style="font-weight: 400;"><i class="fa fa-eye"></i> {{post11.read}}</small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-linkedin"></i> <span style="font-weight: 400;">Share on LinkedIn</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span style="font-weight: 400;">Tweet on Twitter</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->
    
                          

                            <div class="blog-content">  
                                <div class="pp">
                                    <p>{{post11.body|safe}}</p>
                                </div><!-- end pp -->

                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>{% trans "Tags"%}</span>
                                    <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{post11.category.name}}" >{{post11.category.name}}</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-linkedin"></i> <span style="font-weight: 400;">{% trans "Share on LinkedIn"%}</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span style="font-weight: 400;">{% trans "Tweet on Twitter"%}</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                          


                            

                            <hr class="invis1">

                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">{% trans "About"%}</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img src="{{resume.cv_resmi.url}}" alt="" class="img-fluid rounded-circle"> 
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a href="#">M. Can Benli</a> <br><span style="font-size:15px"> {% trans "Industrial Engineer, Data Scientist"%}</span></h4>
                                        <p>{{resume.body|safe}}</p>
                                        <p><a href="{{resume.cv.url}}" download style="color:#000"> {% trans "Resume"%} (EN) &nbsp;<i class="fa-solid fa-download"></i></a></p>
                                        <div class="topsocial">
                                            <a href="https://www.linkedin.com/in/can-benli/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"  style="color: black;"></i></a>
                                            <a href="https://github.com/canbenli" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"  style="color: black;"></i></a>
                                            <a href="https://medium.com/@mcbenli80" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium"  style="color: black;"></i></a>
                                        </div><!-- end social  -->

                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">{% trans "You may also like"%}</h4>
                                <div class="row">

                                    {% for post in recommend %}
                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="/{{request.LANGUAGE_CODE}}/post/{{post.slug}}" >
                                                    <img src="{{post.image.url}}" alt="data" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="/{{request.LANGUAGE_CODE}}/post/{{post.slug}}" >{{post.title}}</a></h4>
                                                <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{post.category.name}}" >{{post.category.name}}</a></small>
                                                <small><a href="/{{request.LANGUAGE_CODE}}/post/{{post.slug}}" >{{post.publishing_date}}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    {% endfor %}

                                    
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">{% trans "Comments"%}</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            {%for parent in parent %}
                                            
                                            <div class="media last-child">
                                                <a class="media-left" href="#">
                                                    <img src="/media/img/p.png" class="rounded-circle">
                                                </a>
                                                <div class="media-body">

                                                    <h4 class="media-heading user_name">{{parent.name}}<small>{{parent.created_date.day}}.{{parent.created_date.month}}.{{parent.created_date.year}}</small></h4>
                                                    <p>{{parent.content|linebreaks}}</p>

                                       <!--           <a href="#" class="btn btn-primary btn-sm">Reply</a>-->  
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">{% trans "Make Comment"%}</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-wrapper"  method="POST">
                                           
                                            {% csrf_token %}
                                            <input required value = "{{name1}}" name="name" class="form-control" type="text" placeholder="{% trans "Name"%}">
                                            <textarea required name="message" class="form-control" cols="30" rows="15" placeholder="{% trans "Comment"%}" style="height: 100px;" maxlength="999">{{message1}}</textarea>
                                            <button type="submit" class="btn btn-primary ">{% trans "SEND"%}</button> 
                                            <br><br>
                                            <div class="g-recaptcha" data-sitekey="6Ldp3UUlAAAAAPO6a36dTls-vas7dbBguXbVUk2X"></div>
                                            <div style = "color:red;">
                                              {% if error %}
                                                  {% trans "Confirm that you are not a robot!"%}
                                              {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    
                </div><!-- end row -->


                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <div class="sidebar">
                      

                      <div class="widget">
                          <h2 class="widget-title">{% trans "Most Viewed"%}</h2>
                          <hr class="line">
                          <div class="blog-list-widget">
                              <div class="list-group">
                                  {% for pop in popular%}
                                  <a href="{% url 'blog_single' pop.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="w-100 justify-content-between">
                                          
                                          <h5 class="mb-1">{{pop.title}}</h5>
                                          <small>{{pop.publishing_date.day}}.{{pop.publishing_date.month}}.{{pop.publishing_date.year}} ●</small> 
                                          <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{pop.read}}</i></small>
                                      
                                      </div>
                                  </a>
                                  {% endfor %}
                                  
                              </div>
                          </div><!-- end blog-list -->
                      </div><!-- end widget -->

                    

                      <div class="widget">
                          <h2 class="widget-title">{% trans "Tags"%}</h2>
                          <hr class="line">
                          <div class="link-widget">
                              <ul>
                                  {% for cat in tags %}
                                  <li><a href="/{{request.LANGUAGE_CODE}}/blog?q={{cat.name}}">{{cat.name}}</a></li>
                                  {% endfor %}
                              </ul>
                          </div><!-- end link-widget -->
                      </div><!-- end widget -->



                      <div class="widget">
                          <h2 class="widget-title">{% trans "Recent"%}</h2>      
                          <hr class="line">
                          <div class="blog-list-widget">
                              <div class="list-group">
                                  {% for rec in recent%}
                                  <a href="{% url 'blog_single' rec.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="w-100 justify-content-between">
                                    <!--     <img src="{{rec.image.url}}" alt="data" class="img-fluid float-left">--> 
                                          <h5 class="mb-1">{{rec.title}}</h5>
                                          <small>{{rec.publishing_date.day}}.{{rec.publishing_date.month}}.{{rec.publishing_date.year}} ●</small> 
                                          <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{rec.read}}</i></small>
                                      </div>
                                  </a>
                                  {% endfor %}
                                  
                              </div>
                          </div><!-- end blog-list -->
                      </div><!-- end widget -->


                  </div><!-- end sidebar -->
              </div><!-- end col -->
            </div><!-- end container -->
        </section>

        
        <footer class="footer">
            <div class="container">
               

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="widget">
                            <div class="footer-text text-center">
                              <br><br><br>
                             <!--  <p></p>--> 
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/can-benli/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"  style="color: black;"></i></a>
                                    <a href="https://github.com/canbenli" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"  style="color: black;"></i></a>
                                    <a href="https://medium.com/@mcbenli80" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium"  style="color: black;"></i></a>
                                </div>

                                <hr class="invis">

                                
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">Can Benli &copy; 2023</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/static/js_js/jquery.min.js"></script>
    <script src="/static/js_js/tether.min.js"></script>
    <script src="/static/js_js/bootstrap.min.js"></script>
    <script src="/static/js_js/custom.js"></script>
</body>
</html>