<!DOCTYPE html>
{% load i18n %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>{% trans "Contact"%} | Can Benli</title>
    <meta content="Can Benli, Digitization, data analysis, web programming, frontend, Html, Css, Javascript, Seo, Industrial Engineering, Dijitalleştirme, veri analizi, web programlama, önyüz, Html, Css, Javascript, Seo, Endüstri Mühendisliği" name="keywords">
    <meta content="Ambitious and motivated young industrial engineering student with a qualified knowledge and passion to learn more about engineering." name="description">

    <link rel="icon" href="/media/img/logo.png" type="image/x-icon" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <!-- Bootstrap core CSS -->
   <link href="/static/css_css/bootstrap.min.css" rel="stylesheet">

   <!-- FontAwesome Icons core CSS -->
   <link href="/static/css_css/font-awesome.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="/static/css_css/style.css" rel="stylesheet">

   <!-- Responsive styles for this template -->
   <link href="/static/css_css/responsive.css" rel="stylesheet">

   <!-- Colors for this template -->
   <link href="/static/css_css/colors.css" rel="stylesheet">
   <script src="https://kit.fontawesome.com/20583e3abd.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLNELQC0VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XLNELQC0VC');
</script>
</head>
<body>


<header class="header_area">
    <div class="main_header_area animated">
      <div class="container">
        <nav id="navigation1" class="navigation">
          <!-- Logo Area Start -->
          <div class="nav-header">
            <a class="nav-brand" href="/{{request.LANGUAGE_CODE}}">CAN BENLI</a>
            <div class="nav-toggle"></div>
          </div>
          <!-- Search panel Start -->
          <div class="nav-search">
            <div class="nav-search-button">
              <i class="nav-search-icon"></i>
            </div>
            <form>
              <div class="nav-search-inner">
                {% csrf_token %}
                <input type="search" name="search" placeholder="{% trans "Search"%}">
                <button type="submit" style="visibility: hidden"></button> 

              </div>
            </form>
          </div>
          <!-- Main Menus Wrapper -->
          <div class="nav-menus-wrapper">
            <ul class="nav-menu align-to-right">
              <li><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
              <li><a href="/{{request.LANGUAGE_CODE}}/blog">{% trans "Blog"%}</a></li>
              <li><a href="/{{request.LANGUAGE_CODE}}/contact">{% trans "Contact"%}</a></li>
              <!--
              <li><a href="">Level 1</a>
                <ul class="nav-dropdown">
                  <li><a href="">Header</a>
                    <ul class="nav-dropdown">
                      <li><a href="" target="_blank">Simple</a></li>
                      <li><a href="" target="_blank">Two Menus</a></li>
                    </ul>
              </li>-->

                  <li><a href="">{% trans "Language"%}</a>
                    <ul class="nav-dropdown">
                        <li><a href="{% url 'set-language' 'en' %}" ><img src="/media/img/en.png" alt="en" width="25px"> English</a></li>
                        <li><a href="{% url 'set-language' 'tr' %}" ><img src="/media/img/tr.png" alt="tr" width="25px"> Türkçe</a></li>     
                      </ul>
              </li>
              
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12col-sm-12 col-xs-12">
                        <h2>{% trans "CONTACT"%}</h2>
                    </div><!-- end col -->
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item"><a href="/{{request.LANGUAGE_CODE}}/contact">{% trans "Contact"%}</a></li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>{% trans "Get in touch"%}</h4>
                                    <p>{% trans "Contact via the form social media accounts or e-mail for business proposals, project ideas and collaboration."%}</p>
                                </div>

                               

                            </div><!-- end row -->


                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper" method="POST">
                                   
                                        {% csrf_token %}
                                        <input required value="{{name1}}" type="text" class="form-control"  name="name" id="name" placeholder="{% trans "Name"%}">
                                        <input required value = "{{mail1}}" type="text" class="form-control" name="email" id="email" placeholder="{% trans "E-mail"%}">
                                        <input required value="{{number1}}" type="text" class="form-control" name="phone" id="phone" placeholder="{% trans "Phone"%}">
                                        <textarea required name="message" class="form-control" id="message" placeholder="{% trans "Message"%}">{{comment1}}</textarea>
                                        <button type="submit" class="btn btn-primary">{% trans "Send"%} <i class="fa fa-envelope-open-o"></i></button>
                                        <br> <br>
                                        <div class="g-recaptcha" data-sitekey="6Ldp3UUlAAAAAPO6a36dTls-vas7dbBguXbVUk2X"></div>
                                        <div style = "color:red;">
                                          {% if error %}
                                              {% trans "Confirm that you are not a robot!"%}
                                          {% endif %}
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            
      
                            <div class="widget">
                                <h2 class="widget-title">{% trans "Most Viewed"%}</h2>
                                <hr class="line">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for pop in popular%}
                                        <a href="{% url 'blog_single' pop.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                
                                                <h5 class="mb-1">{{pop.title}}</h5>
                                                <small>{{pop.publishing_date.day}}.{{pop.publishing_date.month}}.{{pop.publishing_date.year}} ●</small> 
                                                <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{pop.read}}</i></small>
                                            
                                            </div>
                                        </a>
                                        {% endfor %}
                                        
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
      
                          
      
                            <div class="widget">
                                <h2 class="widget-title">{% trans "Tags"%}</h2>
                                <hr class="line">
                                <div class="link-widget">
                                    <ul>
                                        {% for cat in tags %}
                                        <li><a href="/{{request.LANGUAGE_CODE}}/blog?q={{cat.name}}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
      
      
      
                            <div class="widget">
                                <h2 class="widget-title">{% trans "Recent"%}</h2>      
                                <hr class="line">
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for rec in recent%}
                                        <a href="{% url 'blog_single' rec.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                          <!--     <img src="{{rec.image.url}}" alt="data" class="img-fluid float-left">--> 
                                                <h5 class="mb-1">{{rec.title}}</h5>
                                                <small>{{rec.publishing_date.day}}.{{rec.publishing_date.month}}.{{rec.publishing_date.year}} ●</small> 
                                                <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{rec.read}}</i></small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
      
      
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
               


                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="footer-text text-center">
                               
                       
                            <div class="social">
                                <a href="https://www.linkedin.com/in/can-benli/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"  style="color: black;"></i></a>
                                            <a href="https://github.com/canbenli" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"  style="color: black;"></i></a>
                                            <a href="https://medium.com/@mcbenli80" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium"  style="color: black;"></i></a>
                                        </div>

                            <hr class="invis">

                            
                        </div><!-- end footer-text -->
                        <div class="copyright">Can Benli &copy; 2023</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/static/js_js/jquery.min.js"></script>
    <script src="/static/js_js/tether.min.js"></script>
    <script src="/static/js_js/bootstrap.min.js"></script>
    <script src="/static/js_js/custom.js"></script>

</body>
</html>