<!DOCTYPE html>
{% load i18n %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Can Benli - {% trans "Industrial Engineer, Data Scientist"%}</title>
    <meta content="Can Benli, Digitization, data analysis, web programming, frontend, Html, Css, Javascript, Seo, Industrial Engineering, Dijitalleştirme, veri analizi, web programlama, önyüz, Html, Css, Javascript, Seo, Endüstri Mühendisliği" name="keywords">
    <meta content="Ambitious and motivated young industrial engineering student with a qualified knowledge and passion to learn more about engineering." name="description">

    <link rel="icon" href="/media/img/logo.png" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link href="/static/css_css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/static/css_css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css_css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/static/css_css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/static/css_css/colors.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/20583e3abd.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLNELQC0VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XLNELQC0VC');
</script>

<style>
</style>
</head>
<body>

    <div id="wrapper">
        
        <header class="header_area">
            <div class="main_header_area animated">
              <div class="container">
                <nav id="navigation1" class="navigation">
                  <!-- Logo Area Start -->
                  <div class="nav-header">
                    <a class="nav-brand" href="/{{request.LANGUAGE_CODE}}">CAN BENLI</a>
                    <div class="nav-toggle"></div>
                  </div>
                  <!-- Search panel Start -->
                  <div class="nav-search">
                    <div class="nav-search-button">
                      <i class="nav-search-icon"></i>
                    </div>
                    <form>
                      <div class="nav-search-inner">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder=" {% trans "Search"%}">
                        <button type="submit" style="visibility: hidden"></button> 

                      </div>
                    </form>
                  </div>
                  <!-- Main Menus Wrapper -->
                  <div class="nav-menus-wrapper">
                    <ul class="nav-menu align-to-right">
                      <li><a href="/{{request.LANGUAGE_CODE}}">{% trans "Home"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/blog">{% trans "Blog"%}</a></li>
                      <li><a href="/{{request.LANGUAGE_CODE}}/contact">{% trans "Contact"%}</a></li>
                      <!--
                      <li><a href="">Level 1</a>
                        <ul class="nav-dropdown">
                          <li><a href="">Header</a>
                            <ul class="nav-dropdown">
                              <li><a href="" target="_blank">Simple</a></li>
                              <li><a href="" target="_blank">Two Menus</a></li>
                            </ul>
                      </li>-->
    
                          <li><a href="">{% trans "Language"%}</a>
                            <ul class="nav-dropdown">
                              <li><a href="{% url 'set-language' 'en' %}" ><img src="/media/img/en.png" alt="en" width="25px"> English</a></li>
                              <li><a href="{% url 'set-language' 'tr' %}" ><img src="/media/img/tr.png" alt="tr" width="25px"> Türkçe</a></li>     
                            </ul>
                      </li>
                      
                          </div>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </header>


    <div id="wrapper">
        

        <section class="section first-section">
            <div class=" container-fluid">

                <div class="masonry-blog clearfix">

                    <div class="left-side">
                        <div class="masonry-box post-media media600h">
                             <img src="{%if left.0.image %} {{left.0.image.url}} {% endif%}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{left.0.category.name}}" >{{left.0.category.name}}</a></span>
                                        <h4><a href="/{{request.LANGUAGE_CODE}}/blog/{{left.0.slug}}">{{left.0.title}}</a></h4>
                                        <small style="color:#fff;font-weight: 300px; ">{{left.0.publishing_date.day}}.{{left.0.publishing_date.month}}.{{left.0.publishing_date.year}}</small>
                                        <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="center-side">
                        <div class="masonry-box post-media media350h ">
                             <img src="{%if center.0.image %} {{center.0.image.url}} {% endif%}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-green"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{center.0.category.name}}">{{center.0.category.name}}</a></span>
                                        <h4><a href="/{{request.LANGUAGE_CODE}}/blog/{{center.0.slug}}" title="">{{center.0.title}}</a></h4>
                                        <small style="color:#fff">{{center.0.publishing_date.day}}.{{center.0.publishing_date.month}}.{{center.0.publishing_date.year}}</small>
                                        <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->

                        <div class="masonry-box small-box post-media media250h">
                             <img src="{%if undercenter.0.image %} {{undercenter.0.image.url}} {% endif%}"  class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-green"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{undercenter.0.category.name}}" >{{undercenter.0.category.name}}</a></span>
                                        <h4><a href="/{{request.LANGUAGE_CODE}}/blog/{{undercenter.0.slug}}" >{{undercenter.0.title}}</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->

                        <div class="masonry-box small-box post-media media250h">
                          <img src="{%if undercenter2.0.image %} {{undercenter2.0.image.url}} {% endif%}"  class="img-fluid">
                          <div class="shadoweffect">
                             <div class="shadow-desc">
                                 <div class="blog-meta">
                                     <span class="bg-green"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{undercenter2.0.category.name}}" >{{undercenter2.0.category.name}}</a></span>
                                     <h4><a href="/{{request.LANGUAGE_CODE}}/blog/{{undercenter2.0.slug}}" >{{undercenter2.0.title}}</a></h4>
                                 </div><!-- end meta -->
                             </div><!-- end shadow-desc -->
                          </div><!-- end shadow -->
                        </div><!-- end post-media -->

                    </div><!-- end left-side -->
                    <div class="right-side">
                        <div class="masonry-box post-media media600h">
                             <img src="{%if right.0.image %} {{right.0.image.url}} {% endif%}"  class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="/{{request.LANGUAGE_CODE}}/blog?q={{right.0.category.name}}" >{{right.0.category.name}}</a></span>
                                        <h4><a href="/{{request.LANGUAGE_CODE}}/blog/{{right.0.slug}}" title="">{{right.0.title}}</a></h4>
                                        <small style="color:#fff">{{right.0.publishing_date.day}}.{{right.0.publishing_date.month}}.{{right.0.publishing_date.year}}</small>
                                        <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->
                   
                </div><!-- end masonry -->
            </div>
        </section>
        
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="section-title">
                            <h3 class="color-aqua"><a href="/{{request.LANGUAGE_CODE}}/blog?q=machine-learning" class="lol">{% trans "Machine Learning"%}</a></h3>
                            <hr class="line lol">
                        </div><!-- end title -->

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingsmobil">
                                {% for ml in category1 %}
                                <div class="blog-box">
                                    <div class="post-media media250h">
                                        <a href="{% url 'blog_single' ml.slug %}">
                                            <img src="{{ml.image.url}}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta big-meta">
                                        <h4><a href="{% url 'blog_single' ml.slug %}" >{{ml.title}}</a></h4>
                                        <p>{{ml.summary}}</p>
                                        <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{ml.cat.name}}" >{{ml.category.name}}</a></small>
                                        <small>{{ml.publishing_date.day}}.{{ml.publishing_date.month}}.{{ml.publishing_date.year}}</small>
                                        <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box --><br>
                                {% endfor %}
                                
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="section-title ">
                            <h3 class="color-pink "><a href="/{{request.LANGUAGE_CODE}}/blog?q=data-preprocessing" class="lol">{% trans "Data Preprocessing"%}</a></h3>
                            <hr class="line lol">
                        </div><!-- end title -->
                        <div class="row">
                            
                          {% for pp in datapp %}

                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  paddingsmobil paddings">
                                <div class="blog-box ">
                                    <div class="post-media media345h">
                                        <a href="{% url 'blog_single' pp.slug %}">
                                            <img src="{{pp.image.url}}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta" style="margin-bottom: 20px;">
                                        <h4><a href="{% url 'blog_single' pp.slug %}">{{pp.title}}</a></h4>
                                        <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{pp.cat.name}}" >{{pp.category.name}}</a></small>
                                        <small>{{pp.publishing_date.day}}.{{pp.publishing_date.month}}.{{pp.publishing_date.year}}</small>

                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                
                            </div><!-- end col -->

                            
                            {% endfor %}




                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <br>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-list clearfix">
                            <div class="section-title">
                                <h3 class="color-green lol">{% trans "Most Viewed"%}</h3><hr class="line lol">
                            </div><!-- end title -->
                            {% for pop in popular %}
                            <div class="blog-box row ">
                                <div class="col-md-4 paddingsmobil">
                                    <div class="post-media">
                                        <a href="{% url 'blog_single' pop.slug %}">
                                            <img src="{{pop.image.url}}" alt="data" class="img-fluid" style="height: 200px;">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8 paddingsmobil">
                                    <h4><a href="{% url 'blog_single' pop.slug %}" >{{pop.title}}</a></h4>
                                    <p>{{pop.summary}}</p>
                                    <small><a href="/{{request.LANGUAGE_CODE}}/blog?q={{pop.cat.name}}" >{{pop.category.name}}</a></small>
                                    <small>{{pop.publishing_date.day}}.{{pop.publishing_date.month}}.{{pop.publishing_date.year}}</small>
                                    <small><a href="https://www.linkedin.com/in/can-benli/">Can Benli</a></small>
                                    <small><i class="fa-regular fa-eye"  style="font-size:8px; font-weight:700"> {{pop.read}}</i></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            {% endfor %}

                            
                        </div><!-- end blog-list -->

                        <hr class="invis">

                        
                    </div><!-- end col -->

                    <div class="col-lg-3 paddingsmobil">
                        <div class="sidebar">
                           

                          <div class="widget">
                            <h2 class="widget-title">{% trans "Recent"%}</h2>      
                            <hr class="line">
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    {% for rec in recent%}
                                    <a href="{% url 'blog_single' rec.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                      <!--     <img src="{{rec.image.url}}" alt="data" class="img-fluid float-left">--> 
                                            <h5 class="mb-1">{{rec.title}}</h5>
                                            <small>{{rec.publishing_date.day}}.{{rec.publishing_date.month}}.{{rec.publishing_date.year}} ●</small> 
                                            <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{rec.read}}</i></small>
                                        </div>
                                    </a>
                                    {% endfor %}
                                    
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                      
  
                        <div class="widget">
                            <h2 class="widget-title">{% trans "Tags"%}</h2>
                            <hr class="line">
                            <div class="link-widget">
                                <ul>
                                    {% for cat in tags %}
                                    <li><a href="/{{request.LANGUAGE_CODE}}/blog?q={{cat.name}}">{{cat.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
  
  
  
                       
                        
                        <div class="widget">
                          <h2 class="widget-title">{% trans "Most Viewed"%}</h2>
                          <hr class="line">
                          <div class="blog-list-widget">
                              <div class="list-group">
                                  {% for pop in popular%}
                                  <a href="{% url 'blog_single' pop.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="w-100 justify-content-between">
                                          
                                          <h5 class="mb-1">{{pop.title}}</h5>
                                          <small>{{pop.publishing_date.day}}.{{pop.publishing_date.month}}.{{pop.publishing_date.year}} ●</small> 
                                          <small><i class="fa-regular fa-eye"  style="font-size:8px"> {{pop.read}}</i></small>
                                      
                                      </div>
                                  </a>
                                  {% endfor %}
                                  
                              </div>
                          </div><!-- end blog-list -->
                      </div><!-- end widget -->

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->


              
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
               


                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="footer-text text-center">
                               
                       
                            <div class="social">
                                <a href="https://www.linkedin.com/in/can-benli/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"  style="color: black;"></i></a>
                                <a href="https://github.com/canbenli" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"  style="color: black;"></i></a>
                                <a href="https://medium.com/@mcbenli80" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium"  style="color: black;"></i></a>
                            
                            </div>

                            <hr class="invis">

                            
                        </div><!-- end footer-text -->
                        <div class="copyright">Can Benli &copy; 2023</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop"></div>
        
    </div><!-- end wrapper -->

    <script src="/static/js_js/jquery.min.js"></script>
    <script src="/static/js_js/tether.min.js"></script>
    <script src="/static/js_js/bootstrap.min.js"></script>
    <script src="/static/js_js/custom.js"></script>


</body>
</html>